<h2 class="govuk-heading-m">Previous answers</h2>

<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="/">Start again</a>
</p>

{%- set sectorsHtml %}
<ul class="govuk-list">
  {%- for sector in data.answers['sectors'] %}
    <li>{{ sector | getAnswerAsString('sectors') }}</li>
  {% endfor -%}
</ul>
{% endset -%}

{{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Question"
    },
    {
      text: "Answer"
    },
    {
      text: "Change answer"
    }
  ],
  rows: [
    [
      {
        text: "Which of these sectors apply to your business?"
      },
      {
        text: sectorsHtml | safe
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=sectors">Change <span class="govuk-visually-hidden">where your business is based</span></a>'
      }
    ] if data.answers['sectors'] | length,
    [
      {
        text: "How many staff do you have?"
      },
      {
        text: data.answers['staff'] | getAnswerAsString('staff')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=staff">Change <span class="govuk-visually-hidden">what size your business was as of 28 February</span></a>'
      }
    ] if data.answers['staff'] | length,
    [
      {
        text: "Do you have customers, visitors or contractors on site?"
      },
      {
        text: data.answers['visitors'] | getAnswerAsString('visitors')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=visitors">Change <span class="govuk-visually-hidden">the value of your turnover per year</span></a>'
      }
    ] if data.answers['visitors'] | length,
    [
      {
        text: "Do you have any staff meetings (small or large)?"
      },
      {
        text: data.answers['meetings'] | getAnswerAsString('meetings')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=meetings">Change <span class="govuk-visually-hidden">whether your are an employer with a PAYE scheme</span></a>'
      }
    ] if data.answers['meetings'] | length,
    [
      {
        text: "Do your employees need to travel for work?"
      },
      {
        text: data.answers['travel'] | getAnswerAsString('travel')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=travel">Change <span class="govuk-visually-hidden">whether you are travel</span></a>'
      }
    ] if data.answers['travel'] | length,
    [
      {
        text: "On your site do you receive and send goods?"
      },
      {
        text: data.answers['goods'] | getAnswerAsString('goods')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=goods">Change <span class="govuk-visually-hidden">whether your business has a non-domestic property with a rateable value</span></a>'
      }
    ] if data.answers['goods'] | length
  ]
}) }}
