
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">
      Employers that want to reopen their business have a legal responsibility to protect their employees and other people on site.
    </p>

    <p class="govuk-body">
      Use this guidance to help you carry out a risk assessment and make sensible adjustments to the site and workforce.
    </p>

    <p class="govuk-body">
      If you do not carry out a risk assessment, the Health and Safety Executive (HSE) or your local council can issue an enforcement notice.
    </p>

    <p class="govuk-body">
      Employees can use this guidance to check what their workplace needs to do to keep people safe.
    </p>

    <p class="govuk-body">
      This guidance is only for businesses that are allowed to reopen in England.
    </p>

    {{ govukButton({
      text: "Start now",
      href: actions.start,
      isStartButton: true,
      classes: "govuk-!-margin-top-5"
    }) }}

    <!-- <p class="app-c-meta-data">
      Last updated: 27 May 2020
    </p> -->

  </div>
</div>

{% endblock %}
